@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0A0A0A;
    --card: #FFFFFF;
    --card-foreground: #0A0A0A;
    --popover: #FFFFFF;
    --popover-foreground: #0A0A0A;
    --primary: #9333EA;
    --primary-foreground: #F8FAFC;
    --primary-button: #9333EA;
    --primary-button-hover: #a051ea;
    --secondary: #F3F4F6;
    --secondary-foreground: #1F2937;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    --accent: #F3F4F6;
    --accent-foreground: #1F2937;
    --destructive: #EF4444;
    --destructive-foreground: #F8FAFC;
    --border: #E5E7EB;
    --input: #E5E7EB;
    --ring: #9333EA;
    --radius: 0.5rem;
    --chart-1: #E86F4A;
    --chart-2: #2A9D8F;
    --chart-3: #264653;
    --chart-4: #E9C46A;
    --chart-5: #F4A261;
    --header: #1F2937;
    --header-foreground: #F3F4F6;
    --header-button-hover: #2d3b4e;
  }

  .dark {
    --background: #111111;
    --foreground: #F8FAFC;
    --card: #0A0A0A;
    --card-foreground: #F8FAFC;
    --popover: #0A0A0A;
    --popover-foreground: #F8FAFC;
    --primary: #7C3AED;
    --primary-foreground: #F8FAFC;
    --secondary: #1F2937;
    --secondary-foreground: #F8FAFC;
    --muted: #1F2937;
    --muted-foreground: #9CA3AF;
    --accent: #1F2937;
    --accent-foreground: #F8FAFC;
    --destructive: #7F1D1D;
    --destructive-foreground: #F8FAFC;
    --border: #1F2937;
    --input: #1F2937;
    --ring: #7C3AED;
    --radius: 0.5rem;
    --chart-1: #3366CC;
    --chart-2: #2A9D8F;
    --chart-3: #E67E22;
    --chart-4: #9B59B6;
    --chart-5: #E74C3C;
    --header: #0A0A0A;
    --header-foreground: #F3F4F6;
    --header-button: #0A0A0A;
    --header-button-hover: #151515;
  }
  
  .gradient-background {
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  }

}